<!DOCTYPE html>
<html lang="lt">
  <head>
    <meta charset="UTF-8" />
    <title>Klasifikatorius</title>
  </head>
  <body>
    <h1>Įkelkite kelio ženklą</h1>

    <form method="POST" enctype="multipart/form-data" action="/">
      <input type="file" name="image" required />
      <button type="submit">Pateikti</button>
    </form>

    {% if image_url %}
    <h2>Įkelta nuotrauka:</h2>
    <img src="{{ image_url }}" alt="Įkelta nuotrauka" width="200" />
    {% endif %} {% if prediction %}
    <h2>Rezultatas:</h2>
    <p>{{ prediction }}</p>
    {% endif %}
  </body>
</html>
